body{
	text-align:center;
	font-family: sans-serif;
}

#wrapper{
	width:960px;
	margin:0 auto;
	text-align:left;
}

#navbar {
	display: inline;
	text-align: center;
}

footer {
	text-align: right;
	margin: auto;
	padding: 90px;
}
