*{
   margin:0;
   padding:0;
}

body{
   text-align:center;
}

#wrapper{
   width:960px;
   margin:0 auto;
   text-align:left;
}

#navbar {
    display: inline;
	text-align: center;
	background-color: #b0c4de;
}

footer {
    text-align: right;
    margin: auto;
}
